<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/static/style.css">
    <title>Add Team</title>
</head>
<body>
    <h1>Add New Team</h1>
    <form action="/teams/add" method="POST">
        <label>Team Name:</label><br>
        <input type="text" name="name" required><br><br>
        <label>Captain (Select one):</label><br>
        <select name="captain_id">
            <option value="">None</option>
            {% for player in players %}
                <option value="{{ player.player_id }}">{{ player.name }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Add Team">
    </form>
    <br>
    <a href="/teams">Back to Teams</a>
</body>
</html>
